{% block periodic_donation %}
	{% if ( fields ) %}
		{% if ( fields.title ) %}
			<section class="block gpnl-brochure-form">
			<h2 class="page-section-header"> {{ fields.title }}</h2>
		{% endif %}
		{% if ( fields.description ) %}
			<div class="donationdescription">
				<p class="page-section-description">{{ fields.description|raw }}</p>
			</div>
		{% endif %}
		<div id="brochure-request-form"
			 class="form gpnl-brochure-form col-md-8 col-lg-6"
			 data-marketingcode="{{ fields.marketingCode }}"
			 data-itemid="{{ fields.requestedItemId }}"
			 data-marketingcodenewsletter="{{ fields.marketingCodeNewsletter }}"
			 data-literaturecodenewsletter="{{ fields.literatureCodeNewsletter }}"
			 data-thankyoutext="{{ fields.thankYouText }}"
		></div>
		</section>
	{% endif %}
{% endblock %}
