{% block hero_video %}

	{% if ( fields ) %}

		<section class="block hero video-container"
				{# style="background-image: url('{{ fields.image_url }}'); #}
				{# background-position: {{ fields.focus_image | default }}; " #}
		>


			<div class="image-container d-md-none" style="background-color: #0f6459">
				<img srcset="{{ fields.image_srcset }}"
				     src="{{ fields.image_url }}"
				     alt="{{ fields.alt_text }}"
				     style="object-fit: cover; object-position: {{ fields.focus_image | default }}"
				>
			</div>



{#				<video autoplay muted loop class="contained d-none d-md-block" poster="todo">#}
{#					<source src="https://storage.googleapis.com/planet4-netherlands-stateless/2020/09/f42a9e8c-headerkort_1.mp4">#}
{#					<!-- <source src="http://content.bitsontherun.com/videos/bkaovAYt-27m5HpIu.webm"> -->#}
{#					Your browser does not support HTML5 video.#}
{#				</video>#}


				<div class="container">

					<div class="overlay hero__wrapper">

						<div class="hero__text">
							{# {% if ( fields.title ) %} #}
							<h1 class="hero__title">
					  <span>
						  TITEL
{# {{ fields.title|e('wp_kses_post') | raw }} #}
					  </span>
							</h1>
							{# {% endif %} #}

							{# {% if ( fields.description ) %} #}
							<p class="hero__description">
								{# {{ fields.description|e('wp_kses_post') | raw }} #}
								aosdifj ioasdjfio jasdifj asifj iasjdifj asdijf
							</p>
							{# {% endif %} #}

							{% if (fields.link_text) %}
								<a href="{{ fields.link_url }}"
								   class="btn btn-small btn-medium btn-primary hero__button">{{ fields.link_text | raw }}</a>
							{% endif %}

						</div>
					</div>
				</div>
		</section>

	{% endif %}
{% endblock %}
