{% block pdf_embed %}
	{% if ( fields ) %}
		<section class="gpnl-block gpnl-pdf-embed">
			{{ dump() }}
			<h2 class="page-section-header">{{ fields.title | default }}</h2>
			<p class="page-section-description">{{ fields.description | default }}</p>
			<iframe class="pdf-viewer" src="{{ fields.document_url }}" style="width:100%; height:{{ fields.height }}px"></iframe>
		</section>
	{% endif %}
{% endblock %}
