{% block newsletter %}
	{% if ( fields ) %}

		<section class="gpnl-newsletter__block">

			<div class="background-image"
				 style="
					 background-image: url('{{ fields.backgroundimage_url | default }}');
					 background-position: {{ fields.focus_image | default }};
					 opacity: {{ fields.opacity }}%;
					 ">
			</div>
			<div class="page-template gpnl-newsletter__wrapper">
				<div class="gpnl-newsletter__text">
					{% if ( fields.title ) %}
						<h2 class="gpnl-newsletter__title">
							{{ fields.title }}
						</h2>
					{% endif %}

					{% if ( fields.subtitle ) %}
						<p class="gpnl-newsletter__description">{{ fields.subtitle }}</p>
					{% endif %}

					<a href="https://steun.greenpeace.nl/nieuwsbrief" class="btn btn-medium btn-primary btn-block">Aanmelden</a>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
