{% block petition %}
	{% if ( fields ) %}
		<section class="block petition-block">
			<div class="row">
			{% if ( fields.image ) and ( fields.image == 0 ) %}
				<div class="col-lg-6 order-last order-lg-first petition-img">
					{% if ( fields.image ) and ( fields.image == 0 ) %}
						<img
								class="img-fluid"
								src="{{ fields.image }}"
								srcset="{{ fields.image_srcset }}"
								sizes="{{ fields.image_sizes }}"
								alt="{{ fields.alt_text }}"
						>
					{% endif %}
				</div>
				<div class="col-lg-6 order-first order-lg-last gpnl-petition-wrapper">
					<div class="card-body">
						{% if ( fields.title ) %}
							<div class="petition-title">
								<h2 class="card-title">{{ fields.title }}</h2>
							</div>
						{% endif %}
						{% if ( fields.subtitle ) %}
							<div class="petition-subtitle">
								<p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
							</div>
						{% endif %}
						<div class="gpnl-petition">
							<a href="{{ fs_page }}" class="btn btn-medium btn-primary btn-block">{{ fields.sign }}</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-lg12 order-first order-lg-last gpnl-petition-wrapper">
					<div class="card-body">
						{% if ( fields.title ) %}
							<div class="petition-title">
								<h2 class="card-title">{{ fields.title }}</h2>
							</div>
						{% endif %}
						{% if ( fields.subtitle ) %}
							<div class="petition-subtitle">
								<p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
							</div>
						{% endif %}
						<div class="gpnl-petition">
							<a href="{{ fs_page }}" class="btn btn-medium btn-primary btn-block">{{ fields.sign }}</a>
						</div>
					</div>
				</div>
			{% endif %}
			</div>
		</section>
	{% endif %}
{% endblock %}

